@using DapperDashboardProject.Dtos.CategoryDtos
@model CreateCategoryDto

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateCategory</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
    <div class="container mt-5">
        <h2>Yeni Kategori Ekleme</h2>

        <form action="/Categories/CreateCategory" method="post" class="border p-4 shadow-sm">
            <div class="mb-3">
                <label class="form-label">Kategori Adı</label>
                <input type="text" class="form-control" name="CategoryName" />
            </div>
            <div class="mb-3">
                <label class="form-label">Kategori Açıklaması</label>
                <input type="text" class="form-control" name="Description" />
            </div>
            <div class="mb-3">
                <label class="form-label">Durum</label>
                <input type="checkbox" class="form-check-label" name="IsActive" />
            </div>
            <button type="submit" class="btn btn-success">Kaydet</button>


        </form>
    </div>
</body>
</html>